*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(29, 19, 19, 0.425);
    color: white;
    font-size: 20px;
}
.heading{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem;
}
.buttons{
    background-color: rgba(237, 237, 185, 0.752);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem;
}
.play-pause,.speed{
    display: flex;
    gap: 1rem;
}
button{
    font-size: 0.9rem;
    padding: 0.4rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    background-color: rgba(45, 45, 92, 0.808);
    color: white;
}
button:active{
    transform: translateX(3px) translateY(3px);
}
button:hover{
    cursor: pointer;
}
.graph-wrapper{
    width: 100%;
    padding: 1rem;
}
#graph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(17, 14, 14);
    gap: 1px;
}
#graph .bar{
    flex: 1;
    background-color: rgb(226, 226, 249);
}

